#cadre {
    border: 1px solid red;
}

#bloc {
    width: 20px;
    height: 40px;
    background: red;
    position: relative; /* Permettra de décaler le bloc */
    left: 0px; /* Initialise la position gauche du bloc à déplacer */
    /*margin-left: -20px; /* Simplifie le calcul des positions initiale et finale du bloc */
    animation-name: deplacerBloc; /* Nom de l'animation */
    animation-duration: 6s; /* Durée de l'animation */
    animation-fill-mode: forwards; /* Laisse le bloc dans sa position finale */
}

/*@keyframes deplacerBloc {
    from {
        /* Position initiale : bord gauche du cadre (en tenant compte de la marge négative) */
        left: 20px; 
    }
    to {
        /* Position finale : bord droit du cadre (en tenant compte de la marge négative) */
        left: 100%; 
    }
}*/