#cadre {
    border: 1px solid red;
}

#bloc {
    width: 20px;
    height: 40px;
    background: red;
    position: relative;
    /*margin-left: -20px;
    animation-name: deplacerBloc;
    animation-duration: 10s;
    animation-fill-mode: forwards;*/
}


/*@keyframes deplacerBloc {
    from {
        left: 20px;
    }
    to {
        left: 100%;
    }
}*/